.dark-bg{
    background-color: #000000;
}
.yellow-bg {
    background-color:  #F8FD08;
}


.f-400{
    font-weight: 400;
}

.f-500{
    font-weight: 500;
}

.f-600{
    font-weight: 600;
}

.f-700{
    font-weight: 700;
}

.f-15{
    font-size: 15px;
}

.f-20{
    font-size: 22px;
}

.pointer{
    cursor: pointer;
}

.input-local {
    width: 100%;
    border-radius:5px;
    padding:8px 8px;
    font-size:16px;
    outline:none; 
}

.input-local-w-s {
    border-radius:5px;
    padding:8px 8px;
    font-size:16px;
    outline:none; 
}



.input-local:enabled {
    border:1px solid rgba(100,100,100,0.5);
}

.input-local-error {
    border:1px solid rgba(223, 6, 6, 0.979);
}

.btn-warning{
    background-color:  #F8FD08;
}

.zIndex-conffeti {
    position: relative;
    z-index: 10000;
}